# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v3
    
    - name: setup java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'      
    # Runs a single command using the runners shell
    - name: build jar
      run: ./gradlew bootJar
    - name: ls1
      run: ls
    - name: ls2
      run: mv build/libs/FollowMe-Server-0.0.1-SNAPSHOT.jar ./
    - name: copy jar to server
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        source: "FollowMe-Server-0.0.1-SNAPSHOT.jar"
        target: /home/springi/test/ 
    
    - name: SSH Deploy
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: cd /home/springi/test/ && sudo chmod -v 777 FollowMe-Server-0.0.1-SNAPSHOT.jar && service followmescript restart
    
    
